<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

    <resultMap id="BaseResultMap" type="gags.service.entity.Menu" >
        <id column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="status" property="status" />
        <result column="menu_level" property="menuLevel"  />
        <result column="menu_seq" property="menuSeq" />
        <result column="menu_path" property="menuPath"  />
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
        <result column="menu_image" property="menuImage" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="op_id" property="opId"  />
        <result column="org_id" property="orgId"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="ext1" property="ext1" jdbcType="VARCHAR" />
        <result column="ext2" property="ext2" jdbcType="VARCHAR" />
        <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        menu.menu_id,
        menu.menu_name,
        menu.menu_code,
        menu.parent_id,
        menu.menu_type,
        menu.`status`,
        menu.menu_level,
        menu.menu_seq,
        menu.menu_path,
        menu.menu_url,
        menu.menu_image,
        menu.remark,
        menu.create_date,
        menu.modify_date,
        menu.op_id,
        menu.org_id,
        menu.EXT1,
        menu.EXT2,
        menu.EXT3
    </sql>


    <select id="query" parameterType="gags.service.entity.Menu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />,
        count(menu.menu_id)
        from menu,
            operator,
            role,
            rel_oper_auth_obj rel_oper,
            rel_role_menu rel_menu
        <where>

            operator.operator_id = rel_oper.operator_id
            AND role.role_id = rel_oper.role_id
            AND role.role_id = rel_menu.role_id
            AND rel_menu.menu_id = menu.menu_id

            <if test="menuName != null">
                and menu.menu_name LIKE CONCAT('%',#{menuName},'%')
            </if>
            <if test="parentId != null">
                and menu.parent_id = #{parentId}
            </if>
            <if test="menuId != null">
                and menu.menu_id = #{menuId}
            </if>
            <if test="status != null">
                and menu.status = #{status}
            </if>
            <if test="status != null">
                and operator.status = #{status}
            </if>
            <if test="status != null">
                and role.status = #{status}
            </if>
            <if test="status != null">
                and rel_oper.status = #{status}
            </if>
            <if test="status != null">
                and rel_menu.status = #{status}
            </if>
            <if test="operatorId != null">
                and operator.operator_id = #{operatorId}
            </if>
        </where>
        GROUP BY menu.menu_id
        ORDER BY menu.menu_seq asc
    </select>

    <select id="queryMenus" parameterType="gags.service.entity.Menu" resultMap="BaseResultMap">
        select
           <include refid="Base_Column_List" />
        FROM
            menu
        <where>
            <if test="parentId != null">
                and menu.parent_id = #{parentId}
            </if>
            <if test="menuId != null">
                and menu.menu_id = #{menuId}
            </if>
            <if test="status != null">
                and menu.status = #{status}
            </if>
        </where>
        ORDER BY menu.menu_seq asc
    </select>

    <insert id="insert" parameterType="gags.service.entity.Menu" useGeneratedKeys="true" keyProperty="menuId">
        insert into menu(
        menu_name,
        menu_code,
        parent_id,
        menu_type,
        `status`,
        menu_level,
        menu_seq,
        menu_path,
        menu_url,
        menu_image,
        remark,
        create_date,
        modify_date,
        op_id,
        org_id,
        EXT1,
        EXT2,
        EXT3)
        values (#{menuName},#{menuCode},#{parentId},#{menuType},#{status},#{menuLevel},#{menuSeq},#{menuPath},
        #{menuUrl},#{menuImage},#{remark},#{createDate},#{modifyDate},#{opId},#{orgId},#{ext1},#{ext2},#{ext3});
    </insert>

    <delete id="delete" parameterType="Long">
        delete from menu where menu_id = #{menuId}
    </delete>

    <update id="update" parameterType="gags.service.entity.Menu">
        update menu
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null">
                status = #{status},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName},
            </if>
            <if test="menuCode != null">
                menu_code = #{menuCode},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="opId != null">
                op_id = #{opId},
            </if>
            <if test="orgId != null">
                org_id = #{orgId}
            </if>
        </trim>
        WHERE
        menu_id = #{menuId}
    </update>
</mapper>